.app-title {
  font-size: 16px !important;
  font-weight: bold !important;
}

.input-center {
  input {
    text-align: center;
  }
}

.x-action-col-cell {
  .x-action-col-icon {
    margin: 0 5px;
  }
}

.details-table {
  .x-panel-body {
    overflow: auto;
    border: none;
  }
  fieldset {
    border-width: 1px !important;
    min-height: 155px;
    padding: 10px 15px;
  }
  table {
    width: 100%;
    td {
      padding: 10px;
      width: 50%;
    }
    .show-data {
      td {
        width: auto;
        &:first-of-type {
          width: 100px;
        }
      }
    }
  }
}